<footer>
<div class="bg-dark text-light" style="position: fixed; left: 0; bottom: 0; width: 100%">
  <div class="card-header text-center">
    <p>&copy; All Rights Reserved 2023 | Aditya Lambat</p>
  </div>
</div>
</footer>
