<!-- this partial contains a form to create issues in the project -->
<!-- Button trigger modal -->
<div class="text-end">
  <button type="button" class="btn m-auto btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create Issue
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a Issue</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="border border-light border-3" action="/project/<%=project._id%>" method="POST">
        <div class="row mb-3 m-auto">
          <label for="titlelabel" class="col-sm-4 col-form-label">Title</label>
          <div class="col-sm-8">
            <input type="text" name="title" placeholder="Title" required class="form-control" id="titlelabel" />
          </div>
        </div>
        <div class="row mb-3 m-auto">
          <label for="descriptionlabel" class="col-sm-4 col-form-label">Description</label>
          <div class="col-sm-8">
            <textarea name="description" placeholder="Describe your issue..." required class="form-control"
              id="descriptionlabel" style="height: 100px"></textarea>
          </div>
        </div>
        <div class="row mb-3 m-auto">
          <label for="labels" class="col-sm-4 col-form-label">Add Labels</label>

          <div class="col-sm-8">
            <input class="form-check-input" name="labels" type="checkbox" value="Bug" id="bug" />
            <label class="form-check-label" for="bug"> Bug </label><br /><input name="labels" class="form-check-input"
              type="checkbox" value="UI Improvement" id="ui-improvement" />
            <label class="form-check-label" for="ui-improvement">
              UI Improvement </label><br /><input name="labels" class="form-check-input" type="checkbox"
              value="Documentation" id="documentation" />
            <label class="form-check-label" for="documentation">
              Documentation </label><br /><input name="labels" class="form-check-input" type="checkbox"
              value="Enhancement" id="enhancement" />
            <label class="form-check-label" for="enhancement">
              Enhancement </label><br /><input name="labels" class="form-check-input" type="checkbox" value="Duplicate"
              id="duplicate" />
            <label class="form-check-label" for="duplicate"> Duplicate </label>
          </div>
        </div>
        <div class="row mb-3 m-auto">
          <label for="authorlabel" class="col-sm-4 col-form-label">Author</label>
          <div class="col-sm-8">
            <input type="text" name="author" placeholder="Author" required class="form-control" id="authorlabel" />
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Create Issue</button>
        </div>
      </form>
    </div>
  </div>
</div>